.chat-room-show-page {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .chat-room {
    &__header {
      border-bottom: 1px solid #fafafa;
    }
    &__partner {
      display: flex;
      align-items: center;
      &-name {
        margin-right: 8px;
        font-weight: bold;
        color: white;
        vertical-align: middle;
      }
      &-default-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-size: contain;
      }
    }
    &__message-form {
      margin-top: 20px;
      border-top: 1px solid #e8e8e8;
      padding: 10px 10px 0 10px;
      width: 100%;
      &_textarea {
        width: 100%;
        border: none;
        white-space: normal;
      }
    }
  }
}

.chat-message {
  background-color: white;
  &__partner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-default-img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-size: contain;
      margin-left: 8px;
    }
    &-img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin-left: 8px;
    }
  }
  &__content {
    margin: 4px 8px 4px;
    padding: 8px 12px;
    max-width: 70%;
    color: #555;
    font-size: 16px;
    border-radius: 8px;
    background: #f1f1f1;
  }
  &__current-user {
    display: flex;
    justify-content: flex-end;
  }
}

.main-color-bg {
  background: #FFCCFF;
  color: black;
}

textarea:focus {
  outline: none;
}

