.card-wrap {
  margin: 40px 0px;
}



.show-name{
  font-size: 16px;
  font-weight: bold; 
  color: #616161;
}

.show-content{
  padding-top: 3px;
  margin-bottom: 8px;
}

.show-youtube{
  padding-top: 5px;
  width: 100%;
}