.card-wrap {
  padding: 0 30px;
  margin: 0auto;
}
.card-show{
  width: 700px;
  margin-bottom: 20px;
}

.show-name{
  font-size: 16px;
  font-weight: bold; 
  color: #616161;
}

.show-content{
  padding-top: 3px;
  margin-bottom: 8px;
}

.show-youtube{
  padding-top: 5px;
  width: 100%;
}

.btn-show{
  margin-top: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .card-show{
    width: 300px;
  }

  .show-youtube{
    width: 80px;
  }
}