<div class="nav-item">
  <%= link_to users_path do %>
    <i class="fas fa-id-card fa-lg"></i>
  <% end %>
  <%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-lg"></i>
  <% end %>
  <%= link_to matching_index_path(current_user) do %>
    <i class="fas fa-comments fa-lg"></i>
  <% end %>
</div>